html{scroll-behavior:smooth}
@font-face {
        font-family: 'Coco Sharp';
        font-style: bold;
        src: url('Coco-Sharp-Bold-trial.ttf');
}

@font-face {
    font-family: 'Coco Sharp';
    font-style: italic;
    src: url('Coco-Sharp-Italic-trial.ttf');
}
  
@font-face {
    font-family: 'Coco Sharp';
    font-style: normal;
    src: url('Coco-Sharp-Regular-trial.ttf.ttf');
}

@font-face {
    font-family: 'Coco Sharp';
    font-weight:100;
    src: url('Coco-Sharp-Light-trial.ttf');
}

.Thomas_Bonhomme
{
    position: fixed;
    display: flex;
    margin-left: 5%;
    top: 3%;
    font-family: 'Coco Sharp', Helvetica, sans-serif;
    font-size: 12pt;
    font-style: bold;
    line-height: 0%;
    z-index: 1;
}

.navbar
{
    text-align: center;
    position: fixed;
    top: 1%;
    right: 5%;
    z-index: 1;
}

.nav_list
{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.nav_list li 
{
    list-style: none;
    display: inline-block;
    padding: 26px 30px;
}

.nav_list li a
{
    text-decoration: none;
    font-family: 'Coco Sharp';
    font-weight: 100;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

.nav_list li a:visited
{
    color:black;
}
.nav_list li a:hover 
{
    font-weight: bold;
    color: #37bc9e;
}

.photo_profil
{
    position: relative;
    display: block;
    width: 500px;
    height: auto;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    animation: transi 800ms;
}

.photo_profil:hover
{
    cursor: pointer;
}

.logo
{
    position: fixed;
    left: 5%;
    bottom: 3%;
    width: 2%;
    height: auto;

}
.container
{
    height: 4px;
    width: 32px;
    background-color: #37bc9e;
    top: 600px;
    left: 900px;
    position:absolute;
    border-radius: 10px;
    animation: transi 2000ms, battement 800ms infinite;

}

.fleche
{
    margin-left: auto;
    margin-right: auto; 
    width: 30px;
    height: auto;
    display:block;
    position: absolute;
    top: 566px;
    left: 901px;
    animation: transi 2000ms, battement 800ms infinite ;
}

.about
{
    font-family: 'Coco Sharp', Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    top: 610px;
    left: 850px;
    position: absolute;
}

#container2
{
    position: absolute;
    width: 100%;
    height: 940px;
    background-color: #88d1c0;
    top: 940px;
    z-index: -999;
    opacity: 0;
}

.tab{
    margin-left: 19% ;
    margin-right: 19% ;
    top: 940px;
    position: absolute;
}
.containercerf{
    width: 566.42px;
    height: 400px;
    position: relative;
    display: inline-block;
    
}

.containerours{
    width: 566.42px;
    height: 400px;
    float: right;
    position: relative;
}

.containerdistorsion{
    width: 452px;
    height: 450px;
    display: inline-block;
    position: relative;
}

.containerstress{
    width: 340px;
    height: 400px;
    left: 20px;
    top: -20px;
    position: relative;
    display: inline-block;
}

.containerfemme{
    width: 316px;
    height: 450px;
    position: relative;
    float: right;
}

.containerkindred{
    width: 818px;
    height: 460px;
    position: relative;
    display: inline-block;
}

.containercamera{
    width: 400px;
    height: 300px;
    position: relative;
    float: left
}
.containeraffiche{
    width: 318px;
    height: 450px;
    position: relative;
    display: inline-block;
}

.overlay{
    transition: .5s ease;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-400%);
    text-align: center;
    
}

.text{
    background-color: #37bc9e;
    color: white;
    font-size: 16px;
    font-family: 'Coco-Sharp-Bold-trial', Helvetica, sans-serif;
    padding: 16px 32px;
    border-radius: 10px;
    opacity: 0;
}

.text a {
    text-decoration: none;
    color: #eeeeee;
}

.containercerf:hover .cerf {
    opacity: 0.3;
}

.containercerf:hover .text{
    opacity: 1;
}

.containerours:hover .ours{
    opacity: 0.3;
}

.containerours:hover .text{
    opacity: 1;
}

.containerdistorsion:hover .distorsion {
    opacity: 0.3;
}

.containerdistorsion:hover .text{
    opacity: 1;
}

.containerstress:hover .stress {
    opacity: 0.3;
}

.containerstress:hover .text{
    opacity: 1;
}

.containerfemme:hover .femme {
    opacity: 0.3;
}

.containerfemme:hover .text{
    opacity: 1;
}

.containerkindred:hover .kindred {
    opacity: 0.3;
}

.containerkindred:hover .text{
    opacity: 1;
}

.containercamera:hover .camera {
    opacity: 0.3;
}

.containercamera:hover .text{
    opacity: 1;
}

.containeraffiche:hover .affiche {
    opacity: 0.3;
}

.containeraffiche:hover .text{
    opacity: 1;
}

.overlay:hover {
    cursor: pointer;
}

.text a:visited {
    color: #eeeeee;
}
.cerf
{
    width: auto;
    height: 400px;
    transition: .5s ease; 
}

.ours
{
    width: auto;
    height: 400px;
    transition: .5s ease;
}



.distorsion
{
    width: auto;
    height: 450px;
    transition: .5s ease;
}


.femme
{
    width: auto;
    height: 450px;
    transition: .5s ease;
}

.kindred
{
    width: auto;
    height: 460px;
    transition: .5s ease;
}

.camera
{
    width: auto;
    height: 300px;
    transition: .5s ease;
}

.stress
{
    width: auto;
    height: 400px;
    transition: .5s ease;
}

.affiche
{
    width: auto;
    height: 450px;
    transition: .5s ease;
}

body
{
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}


@keyframes transi {
    0% {
        transform: translateY(3vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes battement {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}